// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #737379;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light_gray: #909497;
$dark_gray: #2C3139;
