<h1>GET DRUNK YOU WITCH</h1>
<h3>Cocktail List</h3>


<div class="row row-cols-1 row-cols-md-2">
  <% @cocktails.each do |cocktail| %>
    <div class="col mb-4">
    <%= link_to cocktail_path(cocktail) do %>
    <div class="card">
      <img src="https://source.unsplash.com/gj7BLlSzIFs/1600x900" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><%= cocktail.name %></h5>
      </div>
    </div>
    <% end %>
  </div>
  <% end %>
</div>

<a href="http://localhost:3000/cocktails/new" class="btn btn-primary">CREATE YOUR OWN</a>
