

<div class="card">
  <div class="card-body">
    <h1 class="card-title">IT'S COCK COCK COCKTAIL HOUR</h1>
    <h5 class="card-text">Are you ready to discover new cocktails and even make your own?</h5>
  </div>
  <img src="https://source.unsplash.com/1600x900/?cocktail,cocktails" class="card-img-bottom" alt="...">
  <a href="http://localhost:3000/cocktails" class="btn btn-primary">COME IN</a>
</div>
